# Statistics of the dataset

In [2]:
import pandas as pd
import numpy as np

In [4]:
dataset = pd.read_csv('crypto_timeseries.csv')

In [5]:
dataset.describe()

              Date     Price      Open      High       Low    Vol. Change %
count          156       156       156       156       156     156      156
unique         156       156       156       156       156     154      137
top     12/05/2025  89,248.5  92,082.8  92,676.4  88,987.5  43.05K   -0.47%
freq             1         1         1         1         1       2        3

In [6]:
print("Dataset Statistics:")
print(f"Number of records: {len(dataset)}")
print(f"Columns: {dataset.columns.tolist()}")
print(f"Missing values:\n{dataset.isnull().sum()}")

Dataset Statistics:
Number of records: 156
Columns: ['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']
Missing values:
Date        0
Price       0
Open        0
High        0
Low         0
Vol.        0
Change %    0
dtype: int64

In [ ]:
print(dataset.head())